body {
  
  margin: 0;
  background: #f4f4f9;
  color: #333;
}
body {
  margin: 0;
  background: #f4f4f9;
  color: #333;
}
header {
  background: #4a90e2;
  color: white;
  text-align: center;
  padding: 20px;
}
header h1 {
  margin: 0;
}
nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  background: #357ab8;
  padding: 10px 0;
}
nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
nav a:hover {
  text-decoration: underline;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
}
.company_name {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}
.logo_img {
  height: 80px;
  width: 80px;
  border-radius: 100px;
}
.about {
  background: #f4f4f9;
  color:#4a90e2 ;
  text-align: center;
  padding: 30px;
}
.about h1 {
  margin: 0;
}
.about-section {
  max-width: 900px;
  margin: 40px auto;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
h2 {
  color: #4a90e2;
  margin-bottom: 20px;
}
footer {
  text-align: center;
  background: #333;
  color: white;
  padding: 15px;
  margin-top: 40px;
}
